<div class="frame">
    <div class="center">

        <div class="profile">
            <div class="image">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <img src="https://100dayscss.com/codepen/40-2.jpg" width="70" height="70"
                    >
            </div>

            <div class="name">{{userData.name}}</div>
            <div class="job">{{userData.job}}</div>

            <div class="actions">
                <button class="btn" (click)="update()">Update</button>
                <button class="btn" (click)="logOut()">Logout</button>
                <div class="job" *ngIf="userData.pesel">{{userData.pesel}}</div>
            </div>
        </div>

        <div class="stats">
            <div class="box">
                <span class="value">{{userData.posts}}</span>
                <span class="parameter">Posts</span>
            </div>
            <div class="box">
                <span class="value">{{userData.likes}}</span>
                <span class="parameter">Likes</span>
            </div>
            <div class="box">
                <span class="value">{{userData.followers}}</span>
                <span class="parameter">Followers</span>
            </div>
        </div>
    </div>
</div>